
*{ 
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html,body{ 
    color:#000; 
    background:#E5E3E6; 
    font:12px/22px Verdana,Arial,sans-serif,"Times New Roman",寰蒋闆呴粦,鎬濇簮瀹嬩綋; 
    width:100%;
}
input,select,button{ 
     font-size:100%;
     outline:0;
     vertical-align:middle;
     -webkit-appearance: none;
 }
button{
    border: 0;
    background-clip: padding-box;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
ol,ul,li { list-style:none;}
/* 瀹氫箟鍥剧墖杈规锛屽綋鍥剧墖浣滀负閾炬帴鍐呭琚～鍏呮椂锛屼細鏈夐粯璁よ竟妗嗗嚭鐜帮紝閲嶅畾涔夋帀 */
img{ 
    border:none;
    vertical-align:baseline;
}
a, a:link, a:visited{
    color:#000;
    text-decoration:none;
}
a:hover{ 
    color:#000; 
    text-decoration: none;
}
/* 鏍囩灞炴€э紝textarea,input 寮哄埗杈撳叆鏃跺唴瀹硅秴鍑烘椂鎹㈣锛屾墦锟�? */
textarea,input{ 
    word-wrap:break-word; 
    word-break:break-all; 
} 
span,p,div{ 
    word-wrap:break-word;
} 
.left{ float:left; }
.right{ float:right; }
.clearfix{ content: ''; display: block; clear: both; }
footer{
    margin: 10px auto;
}
footer div{
    text-align: center;
    font-size: 16px;
}
footer div span{
    color: red;
    font-weight: bolder;
}