.icon{
    cursor: pointer;
    float: right;
    width: 30px;
    height: 30px;
}
header{ 
    width: 100%;
    height: 52px;
    margin: 0 auto;
    background-color: #F5F5F5;
}
.header{
    width: 80%;
    height: 52px;
    margin: 0 auto;
    background-color: #F5F5F5;
}
.header .logo{
    width: 144px;
    height: 52px;
}
.header .logo img{
    max-width: 100%;
    height: auto;
    margin-top: 5px;
    padding: .5rem 1rem;
}
.header .menu{
    font-size: 14px;
    line-height: 2.5rem;
    margin-top: 5px;
    color: #E5E3E6;
}
.header .menu a:after{
    content: ">>";
    display: inline;
}
.header .menu a:hover{
    color: lightskyblue;
}
.main{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #F5F5F5;
}
.main-body{
    width: 100%;
    height: auto;
    padding-top: 1rem;
    background-color: #F5F5F5
}
.main-bar{
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}
.main-bar ul{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}
.main-bar ul li{
    cursor: pointer;
    width: 45px; /*ćŻä¸Şĺç´ çĺĺ§ĺĺŽ˝ĺşŚ*/
    text-align: center;
    flex:auto;  /*čżćŻĺłéŽ*/
    line-height: 23px;
}
.active{
    background-color: #3273DC;
    border-radius: 5px;
}
.content-item{
    width:100%;
    height: auto;
    font-size: 14px;
    padding: 10px 5px;
    border-bottom: 1px solid #e8e8e8;
}
.content-item a{
    padding: 20px;
}
.content-item a:hover{
    color: lightskyblue;
}
.carousel{
    position: relative;
    width: 85%;
    height: 700px;
    overflow: hidden;
    margin: 0 auto;
}
.carousel .wrap{
    position:relative;
    width: 100%;
    height:100%;
}
.carousel .wrap .carousel-item {
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
    transition: opacity 1s;
    overflow: auto;
}
.carousel .wrap .carousel-item::-webkit-scrollbar {
    display: none;
}
.carousel-item .load{
    padding: 50% 50%;
}

#mask{
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1000;
    position: fixed;
}
.dialog{
    position: fixed;
    z-index: 1001;
    width: 400px;
    height: 300px;
    top: 30%;
    left: 35%;
    border-radius: 5%;
    background-color: rgba(17, 148, 148, 0.6);
}
.dialog-header{
    width: 100%;
    border-bottom: 1px gray solid;
    height: 28%;
}
.dialog-header span{
    font-size: 48px;
}
.dialog-body{
    width: 100%;
    height: 52%;
}
.dialog-content{
    display: none;
    font-size: 20px;
}
.dialog-footer{
    width: 100%;
    height: 20%;
    border-top: 1px gray solid;
}
.button{
    cursor: pointer;
    width: 50px;
    height: 30px;
    line-height: 2.5rem;
    background-color: aqua;
    text-align: center;
    border-radius: 10%;
}
.btn-left{
    margin-left: 16px;
    margin-top: 12px;
}
.btn-right{
    margin-right: 16px;
    margin-top: 12px;
}